/* create css for header to stick above */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding-bottom: 1rem;
}

/* create css for footer to stick below */

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* on hover enlarge */
.menu-icon:hover{
  transform: scale(1.2);
}

.menu-list{
  background-color: #fff;
  /* transition */
  transition: all 0.3s ease-in-out;
}


.menu{
  color: #8f5a5a;
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  width: 8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
  @apply rounded-3xl shadow-lg bg-white fixed left-5 top-3 z-10 flex justify-center items-center cursor-pointer px-3 ;
}