/* create css for header to stick above */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* create css for footer to stick below */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.menu{
  color: #8f5a5a;
  align-items: start;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-left: 1rem;
}

/* on hover enlarge */
.menu:hover{
  transform: scale(1.1);
}

.menu-list{
  background-color: #fff;
}
