@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-600: #9a4131;
  --primary-700: #783226;
  --neutral-700: #b3a293;
  --neutral-800: #8b7d72;
  --grey-700: #272525;

  --spacing-s1: 8px;

  background-color: var(--primary-700);
}

.svelecte .sv-control,
.guest-field {
  background-color: var(--neutral-700) !important;
  border-radius: 0 !important;
}

.dot {
  opacity: 0.5;
  scale: 0.8;
  transition: 0.2s scale ease-in-out, 0.2s opacity ease-in-out;
}

.dot[data-active="true"] {
  opacity: 1;
  scale: 1.1;
}

.svelecte .inputBox,
.guest-field {
  height: 67px !important;
}

.svelecte .inputBox::placeholder,
.guest-field::placeholder {
  color: var(--primary-600) !important;
}

.svelecte .sv-dropdown {
  background-color: var(--neutral-800) !important;
  border: none !important;
  border-radius: 0 !important;
  color: var(--grey-700);
}

.svelecte .sv-dropdown .sv-dd-item {
  padding: var(--spacing-s1);
}

.faq-bg-image {
  @apply h-full w-auto object-cover object-right-top lg:w-full;
}

/*at sm screen  size*/
@media (max-width: 640px) {
  .faq-bg-image {
    object-position: -19cm 0;
  }

  .hero-bg-img {
    object-position: 63% 0;
  }

  .detail-bg-img {
    object-position: -10rem 0;
  }
}